*, *::after, *::backdrop {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $bodyBgColor;
}

button {
  outline: none;
  border: none;
}