// Colors
$purple: #AD1FEA;
$lightPurple: #C75AF6;
$royalBlue: #4661e6;
$darkGrey: #373f68;
$mediumGrey: #3A4374;
$lightGrey: #647196;
$whiteGrey: #c5c5c5;
$white: #fff;
$lightEggshellBlue: #F7F8Fd;
$eggshellBlue: #F2F4FF;
$aqua: #62BCFA;
$orange: #F49F85;
$red: #D73737;

// Weights
$bold: 600;

// Body
$bodyBgColor: $lightEggshellBlue;

// Button
$disabledBtnFilterBgColor: $whiteGrey;
$btnFontSize: 14px;
$defaultBtnBgColor: $purple;
$defaultBtnFontColor: $eggshellBlue;
$warningBtnBgColor: $red;
$secondaryBtnBgColor: $royalBlue;
$cancelBtnBgColor: $mediumGrey;

